Ambra Demontis <ambra.demontis@unica.it> <ambra.demontis@diee.unica.it>
Angelo Sotgiu <angelo.sotgiu@unica.it> <a.sotgiu92@gmail.com>
Angelo Sotgiu <angelo.sotgiu@unica.it> <a.sotgiu3@studenti.unica.it>
Antonio Emanuele Cinà <cina.antonio1995@gmail.com>
Battista Biggio <battista.biggio@unica.it>
Battista Biggio <battista.biggio@unica.it> <battista.biggio@diee.unica.it>
Marco Melis <marco.melis@unica.it> <is.marco@tiscali.it>
Marco Melis <marco.melis@unica.it> <marco.melis@diee.unica.it>
Maura Pintor <maura.pintor@gmail.com>