numpy >= 1.13.*
scipy >= 1.1.*
matplotlib == 2.2.*
scikit-learn >= 0.19.*, < 0.21
joblib
Pillow
requests

# Pytorch
torch == 0.4.*
torchvision == 0.1.8

# Unittests requirements
pytest >= 2.9
pytest-cov >= 2.3
